@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

#question {
  display: none;
}

.section_question {
  width: 100%;
  min-height: 100vh;
  background-color: #3f454e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-type {
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 6px;
  font-size: 60px;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.question-text-container {
  position: relative;
  width: 90%;
  max-width: 700px;
  min-height: 240px;
  margin: 3rem auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.question-text-container,
.question-text-container:before,
.question-text-container:after {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.question-text-container:before,
.question-text-container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2.5deg);
  -o-transform: rotate(2.5deg);
  transform: rotateZ(2.5deg);
  z-index: -1;
}

.question-text-container:after {
  -webkit-transform: rotateZ(-2.5deg);
  -o-transform: rotate(-2.5deg);
  transform: rotateZ(-2.5deg);
}

.question-options {
  display: grid;
  grid-template-columns: 1fr;
}

.question-options button {
  width: 90%;
  height: 50px;
  margin: 0.5rem auto;
  border-radius: 8px;
  border: none;
  text-align: center;
  box-shadow: 5px 5px #888888;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #000;
}

.question-options-correct {
  background-color: #00ff00;
}

.question-options-wrong {
  background-color: #ff0000;
}

.question-options button:hover {
  background-color: #885eb4;
  box-shadow: none;
  color: #fff;
  transition: 0.2s;
}

.correct-wrong-text {
  display: none;
}

.correct-wrong-text-true {
  font-size: 60px;
  color: #00ff00;
  transform: rotate(-30deg);
}
.correct-wrong-text-false {
  font-size: 60px;
  color: #ff0000;
  transform: rotate(-30deg);
}

.score-board {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-board p {
  margin: 1rem;
}

.correct-text {
  color: #00ff00;
  margin-left: 1rem;
}

.incorrect-text {
  color: #ff0000;
  margin-left: 1rem;
}

.question-left-text {
  color: #885eb4;
  margin-left: 1rem;
}

.correct-answer-animation {
  animation: correctAnswer 0.2s 10;
  background-color: #00ff00;
}
@keyframes correctAnswer {
  from {
    background-color: #00ff00;
  }
  to {
    background-color: #fff;
  }
}

.menu-options button {
  display: none;
  width: 90%;
  height: 50px;
  margin: 1rem auto 5rem auto;
  border-radius: 8px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.menu-options button:hover {
  background-color: #d1d1d1;
  transition: 0.2sec;
}

@media screen and (min-width: 992px) {
  .question-text-container {
    margin-top: 3rem;
  }
  .question-options {
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    gap: 1rem;
  }
  .question-options button {
    max-width: 320px;
  }
  .menu-options button {
    max-width: 320px;
  }
}
